@model IEnumerable<RubricsystemModel.Model.Answer>

@{
    ViewData["Title"] = "DisplayResult";
    Layout = null;
}
<link rel="stylesheet" href="~/AdminTheme/assets/css/dashlite.css">
<link id="skin-default" rel="stylesheet" href="~/AdminTheme/assets/css/theme.css">
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Students</h3>

                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li><a href="#" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Add User</span></a></li>
                                                        <li><a href="#"><span>Add Team</span></a></li>
                                                        <li><a href="#"><span>Import User</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div>

                <div class="card card-preview">
                    <div class="card-inner">

                        <table class="datatable-init table">
                            <thead>
                                <tr>
                                 
                                    <th>
                                       @ViewBag.Marks.Num1 /20
                                    </th>
                                
                                    <th>
                                        @ViewBag.Marks.Num2 /20
                                    </th>
                                 
                                    <th>
                                        @ViewBag.Marks.Num3 /20
                                    </th>
                                  
                                    <th>
                                        @ViewBag.Marks.Num4 /20
                                    </th>
                                
                                    <th>
                                        @ViewBag.Marks.Num5 /20
                                    </th>
                           
                      
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="width:40px;">
                                        <textarea disabled style="width:auto">@Html.DisplayFor(modelItem => item.Answer1)</textarea>
                                    </td>

                                    <td style="width:40px;">
                                        <textarea disabled style="width:auto">@Html.DisplayFor(modelItem => item.Answer2)</textarea>

                                    </td>

                                    <td style="width:40px;">
                                        <textarea disabled style="width:auto">@Html.DisplayFor(modelItem => item.Answer3)</textarea>
                                    </td>

                                    <td style="width:40px;">
                                        <textarea disabled style="width:auto">@Html.DisplayFor(modelItem => item.Answer4)</textarea>
                                    </td>

                                    <td style="width:40px;">
                                        <textarea disabled style="width:auto">@Html.DisplayFor(modelItem => item.Answer5)</textarea>
                                    </td>





                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>